@using RazorPagesWithVue.Views.Shared.VueComponents

@(await Html.UseVueComponent("lights-container"))

<div id="app">
    <div>{{hello}}, 这是使用new Vue的方式挂载的组件,IDE没有丰富的代码提示</div>
    <div>下面是VUE的组件</div>
    <lights-container></lights-container>
    <div>下面是传统的MVC组件</div>
    <div>STATIC</div>
</div>

@* 编写主vue的js,提供挂载,但是这种方式引用的vue在cshtml中不具备代码索引功能.所以做大量vue组件和vue的组件嵌套使用等场景时,使用 类似于 lights-container内再引入light的方式.这样可以在vs中使用vue的代码索引功能. *@
@* <script> *@
@*     new Vue({ *@
@*         el: "#app", *@
@*         data:{ *@
@*           hello:'hello vue' *@
@*         } *@
@*     }); *@
@* </script> *@

@Html.EnableVueContainers("app")

@* 在cshtml中使用vue组件的步骤. *@
@* *@
@* 引入组件,如  @(await Html.UseVueComponent("lights-container")) *@
@* 定义一个锚点,如  <div id="app"></div> *@
@* 在锚点内使用组件,如 <lights-container></lights-container> *@
@* 使用 @Html.EnableVueContainers("app") 以使能vue组件的挂载 *@
@* 三步的顺序不能差,即先声明后使用,最后使能 *@
```

